header.main-header
  / logo
  = link_to root_path, class: 'logo' do
    strong Connect Mo - OFW
  nav.navbar.navbar-static-top role='navigation'
    a.sidebar-toggle data-toggle='offcanvas' role='button'
      span.ion-navicon-round
      span.sr-only Toggle Navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        - if @current_user
          li.dropdown.user.user-menu
            a.dropdown-toggle data-toggle='dropdown'
              div
                = image_tag(@current_user['small_picture'], class: 'user-image' )
                span = @current_user['full_name']
            ul.dropdown-menu
              li.user-header
                = image_tag(@current_user['big_picture'], class: 'image-circle')
                p = @current_user['full_name']
                p from #{@current_user['current_location']}
              li.user-body
                .clearfix
                  .pull-left
                    strong Last sign in
                  .pull-right
                    p #{timeago_tag(sign_in_time, :nojs => true, :limit => 10.days.ago)}
                .clearfix
                  .pull-left
                    strong Birthday
                  .pull-right
                    p = @current_user['birthday']
                .clearfix
                  .pull-left
                    strong Gender
                  .pull-right
                    p = @current_user['gender']
                .clearfix
                  .pull-left
                    strong Email
                  .pull-right
                    p = @current_user['email']

          li
            = link_to facebook_sign_out_path, title: 'sign out' do 
              span.ion-log-out
        - else
          li
            = link_to @fb_url, class: 'fb-login' do 
              = image_tag('fb-button.png')