aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header Navigation
      li.treeview
        = link_to root_path
          span.ion.ion-ios-home
          span Home
      - unless @current_user.nil?
        li.treeview
          = link_to applicants_profile_path(@current_user.id)
            span.ion.ion-person-stalker
            span Applicants
        li.treeview
        	a href="/inquiry"
        		span.ion.ion-checkmark-circled
        		span Subscribers
        li.treeview
        	= link_to community_path(@current_user.id)
        		span.ion.ion-ios-chatboxes-outline
        		span Chat
        li.treeview
          = link_to new_home_path
            span.ion.ion-ios-plus-outline
            span Post New Ad
        li.treeview
        	a href="/buy_credits"
        		span.ion.ion-social-bitcoin
        		span Buy Credits
        li.treeview
          a href="/about_us"
            span.ion.ion-ios-information-outline
            span About Us
