.modal.fade.bs-example-modal-lg tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
          button.close data-dismiss="modal" aria-label="Close" type="button"
            span aria-hidden="true" &times;
          h4.modal-title id="myModalLabel" Apply for this #{@post.category.humanize}
      / form role="form" action=home_path method="put"
      = form_tag(home_path, method: 'put') do
        .modal-body  
          input type="hidden" name="submit_application" value="1"
          input type="hidden" name="active_tab" value=params[:active_tab]
          .form-group 
            label for="name"
            input.form-control type="text" name="name" readonly="readonly" value=@current_user.try(:full_name)
          .form-group
            label Message
            textarea.form-control rows="3" name="remarks" placeholder="Enter your message..."
          .form-group
            label for="file" Upload a File
            input.form-control type="file"

          // if the user has already applied
          .table-responsive
            table.table.table-hover
              tbody
                tr
                  th Status
                  th Date
                  th Description
                - @application_status.each do |status|
                  tr 
                    td
                      span.label.label-info = status.status.humanize
                    td #{timeago_tag(status.created_at, :nojs => true, :limit => 10.days.ago)}
                    td = status.remarks
                - unless @application_status.empty?
                  tr 
                    td
                      span.label.label-info Applied
                    td 04/05/2015
                    td Submitted Application File via Connect Mo
                  tr
                    td
                      span.label.label-warning Pending
                    td 04/06/2015
                    td The agency has yet to view this application
                  tr
                    td
                      span.label.label-success Accepted
                    td 04/07/2015
                    td The agency has viewed the application 
                  tr 
                    td
                      span.label.label-danger Missing Files
                    td 04/08/2015
                    td Message from the Agency : "Can you send your Diploma, NSO, and NBI?"
                  tr
                    td
                      spand.label.label-primary Interview
                    td 04/09/2015
                    td Come to the office 04/10/2015 at 8:00 AM
        .modal-footer
          button.btn.btn-default data-dismiss="modal" type="button" Close
          button.btn.btn-primary Apply
              
