section.content-header
	h1 About Us

section.content
	.row
		.col-md-6
			.box.box-solid
				.box-header.with-border
					i.ion.ion-ios-albums-outline
					h3.box-title Company Profile
				.box-body
					dl.dl-horizontal
						dt Company Name
						dd Code Freeze
						dt Address
						dd Manila, Philippines
						dt Website
						dd www.codefreeze.com
						dt Contact No. 
						dd 1234567890
						dt Contact Person
						dd Erwin, Jossie, Bobby
		.col-md-6
			.box.box-solid
				.box-header.with-border
					i.ion.ion-android-checkmark-circle
					h3.box-title Company Mission
				.box-body
					blockquote
						p Connect Mo provides solutions and answers for OFWs in their everyday interactions that gives them ease of access, comfortability, flexibility, constantly, and directly communicating with different agencies and landowners around the world. Connect Mo gives real time, simple status updates and follow ups to be able to each inquiry both offline and online. 
						p
						p Do you have any problems? I - Connect Mo - na yan! 
	.row
		.col-md-6
			.box.box-solid
				.box-header.with-border
					i.ion.ion-navicon-round
					h3.box-title Subscribe with us?
				.box-body
					h6 Questions? Email us : subscription@connectmo.com
	.row	
		.col-md-6
			button.btn.btn-block.btn-warning.btn-lg Subscribe to this agency
