section.content-header
	h1 Application 
section.content
	.row
		.col-md-6 
			.box.box-info
					.box-header
						i.ion.ion-clipboard
						h3.box-title Apply for this job post
					.box-body
						form role="form"
				          .form-group 
				            label for="name"
				            input.form-control type="text" id="name" value="Juan Dela Cruz"
				          .form-group
				            label Message
				            textarea.form-control rows="3" placeholder="Enter your message..."
				          .form-group
				            label for="file" Upload a File
				            input.form-control type="file"
				        / if the user has already applied
				        .table-responsive
				          table.table.table-hover
				            tbody
				              tr
				                th Status
				                th Date
				                th Description
				              tr 
				                td
				                  span.label.label-info Applied
				                td 04/05/2015
				                td Submitted Application File via Connect Mo
				              tr
				                td
				                  span.label.label-warning Pending
				                td 04/06/2015
				                td The agency has yet to view this application
				              tr
				                td
				                  span.label.label-success Accepted
				                td 04/07/2015
				                td The agency has viewed the application 
				              tr 
				                td
				                  span.label.label-danger Missing Files
				                td 04/08/2015
				                td Message from the Agency : "Can you send your Diploma, NSO, and NBI?"
				              tr
				                td
				                  spand.label.label-primary Interview
				                td 04/09/2015
				                td Come to the office 04/10/2015 at 8:00 AM
	.row
		.col-md-6 			
			button.btn.btn-block.btn-default.btn-lg Cancel
			button.btn.btn-block.btn-primary.btn-lg Apply        