.content
  .row
		.col-md-8
			#map.map
		.col-md-4
			.box.box-primary
				.box-header.with-border
					h3.box-title Recent Post
					.box-tools.pull-right
						button.btn.btn-box-tool data-widget="collapse"
							i.ion.ion-minus-round
				.box-body
					ul.products-list.product-list-in-box
						- @recent_posts.each do |post|
							li.item
								.product-info
									a{ href="/home/#{post.id}?active_tab=public_transport_route"}
										= "#{post.title.humanize}"
										- cat = (post.job?) ? 'warning' : 'info'
										span.label.pull-right class="label-#{cat}"= post.category.humanize										
									.product-description= post.description

			.info-box