section.content-header
	h1 Post New Ad

section.content.new-post-map
	.row
		.col-md-6
			.box.box-solid
				.box-header.with-border
					i.ion.ion-ios-list-outline
					h3.box-title Choose Category
				.box-body
					.form-group
						label.radio-inline
								input type='radio' 
								span.text Job Advertisement
						label.radio-inline
								input type='radio' 
								span.text House for Rent
						label.radio-inline
								input type='radio' 
								span.text New Events
	.row
		.col-md-6
			.box.box-solid
				.box-header.with-border
					i.ion.ion-edit
					h3.box-title Details
				.box-body
					form role="form"
			          .form-group 
			            label for="name" Name
			            input.form-control type="text" id="name" value="Juan Dela Cruz"
			          .form-group
			            label Description
			            textarea.form-control rows="3" placeholder="Enter your message..."
	.row
		.col-md-6
			.box.box-solid
				.box-header.with-border
					i.ion.ion-map
					h3.box-title Location
				.box-body
					#map
	.row
		.col-md-6
				button.btn.btn-block.btn-success.btn-lg#post Post this advertisement
				button.btn.btn-block.btn-warning.btn-lg#post-and-blast Post and Blast this advertisement