.slide-in
	- unless @post.blank?
		section.content-header
			h1 
				= @post.title
				label style="margin-left: 5px;"
					- if @post.job?
						sup
							small.label.label-danger =@post.category.humanize
					- elsif @post.rent?
						sup
							small.label.label-warning =@post.category.humanize

		section.content
			.row
				- if @post.job?
					.col-md-3.col-sm-6.col-xs-12
						.info-box
							span.info-box-icon.bg-red
								i.ion.ion-ios-people-outline
							.info-box-content
								span.info-box-text  
								span.info-box-text Employees Needed
								span.info-box-number 100

					.col-md-3.col-sm-6.col-xs-12
						.info-box
							span.info-box-icon.bg-aqua
								i.ion.ion-ios-people
							.info-box-content
								span.info-box-text  
								span.info-box-text Slots Available
								span.info-box-number 25
				- elsif @post.rent?
					.col-md-3.col-sm-6.col-xs-12
						.info-box
							span.info-box-icon.bg-red
								i.ion.ion-home
							.info-box-content
								span.info-box-text  
								span.info-box-text Address
								span.info-box-number = @post.address
					.col-md-3.col-sm-6.col-xs-12
						.info-box
							span.info-box-icon.bg-aqua
								i.ion.ion-social-usd-outline
							.info-box-content
								span.info-box-text  
								span.info-box-text Price
								span.info-box-number = @post.price
				/ Ratings
				.col-md-3.col-sm-6.col-xs-12
					.info-box
						span.info-box-icon.bg-yellow
							i.ion.ion-ios-star-outline
						.info-box-content
							span.info-box-text 
							span.info-box-text Ratings
							i.ion.ion-android-star
							i.ion.ion-android-star
							i.ion.ion-android-star
							i.ion.ion-android-star-half
							i.ion.ion-android-star-outline
							span.info-box-text Your Ratings go here
							i.ion.ion-android-star-outline
							i.ion.ion-android-star-outline
							i.ion.ion-android-star-outline
							i.ion.ion-android-star-outline
							i.ion.ion-android-star-outline
				.col-md-3.col-sm-6.col-xs-12
					- if @application_status.empty?
						// if the user has not applied yet
						button.btn.btn-block.btn-primary.btn-lg data-toggle="modal" data-target=".bs-example-modal-lg"	Apply Now
					- else
						// if the user has already applied
						button.btn.btn-block.btn-warning.btn-lg data-toggle="modal" data-target=".bs-example-modal-lg"	View Application

			.row
				/ map
				.col-md-8
					.nav-tabs-custom#map-tabs
						ul.nav.nav-tabs
							li class=active?(params, 'public_transport_route')
							  a href='#' data-tab='public_transport_route' data-toggle='tab' area-expanded='true'
							    span.ion.ion-android-bus
							    span Public Transport Route
							li class=active?(params, 'driving_route')
							  a href='#' data-tab='driving_route' data-toggle='tab' area-expanded='true'
							    span.ion.ion-android-car
							    span Driving Route
							li class=active?(params, 'pedestrian_route')
							  a href='#' data-tab='pedestrian_route' data-toggle='tab' area-expanded='true'
							    span.ion.ion-android-walk
							    span Pedestrian Route
						.tab-content.post-maps
						  .tab-pane#public_transport_route class=active?(params, 'public_transport_route')
						    .map-view#map_with_public_transport_route
						  .tab-pane#driving_route class=active?(params, 'driving_route')
						    .map-view#map_with_driving_route
						  .tab-pane#pedestrian_route class=active?(params, 'pedestrian_route')
						    .map-view#map_with_pedestrian_route

				
				.col-md-4
					/ agency
					.box.box-default
						.box-header.with-border
							i.ion.ion-ios-briefcase-outline
							h3.box-title Agency
							.box-tools.pull-right
								button.btn.btn-box-tool data-widget="collapse"
									i.ion.ion-minus-round
						.box-body
							= link_to agency_path(@post.user.id) do 
								h4 = @post.user.full_name
					/ description
					.box.box-default
						.box-header.with-border
							i.ion.ion-document-text
							h3.box-title Description
							.box-tools.pull-right
								button.btn.btn-box-tool data-widget="collapse"
									i.ion.ion-minus-round
						.box-body
							h6 = @post.description
					/ community
					.box.box-primary
						.box-header.with-border
							i.ion.ion-flag
							h3.box-title Community
							.box-tools.pull-right
								button.btn.btn-box-tool data-widget="collapse"
									i.ion.ion-minus-round
						.box-body.no-padding
							ul.nav.nav-pills.nav-stacked
								- if @post.user.communities.blank?
									li 
										p.text-center No Community Available
								- else 
									- @post.user.communities.each do |community|
										li 
											= link_to community_path(community.id) do
												= community.name
									
						.box-footer.text-center
							a.uppercase href="#" View all Community

					/ related post
					.box.box-info
						.box-header.with-border
							i.ion.ion-ios-compose-outline
							h3.box-title Related Post
							.box-tools.pull-right
								button.btn.btn-box-tool data-widget="collapse"
									i.ion.ion-minus-round
						.box-body
							ul.products-list.product-list-in-box
								- if @post.related_post.blank?
									p.text-center No Post Related Found.
								- else
									- @post.related_post.each do |p|
										li.item
											.product-img
												- if p.job?
													h4.ion.ion-briefcase style="margin: 0px; font-size: 28px;"
												- elsif p.rent?
													h4.ion.ion-home style="margin: 0px; font-size: 28px;"
											.product-info 
												= link_to home_path(p.id, active_tab: 'public_transport_route'), class: 'product-title' do
													span.product-description	
														= p.title
								
						.box-footer.text-center
							a.uppercase href="#" View all Related Posts
			
			- unless @post.requirements.blank?
				.row
					.col-md-8
						.box.box-warning
							.box-header.with-border
								h3.box-title Requirements
								.box-tools.pull-right
									button.btn.btn-box-tool data-widget="collapse"
										i.ion.ion-minus-round
							.box-body
								p = @post.requirements

			/ Comments
			.row
				.col-md-8
					.box.box-danger
						.box-header.with-border
							i.ion.ion-edit
							h3.box-title Comments
							.box-tools.pull-right
								button.btn.btn-box-tool data-widget="collapse"
									i.ion.ion-minus-round
						.box-body
							ul.products-list.product-list-in-box
								- if @post.comments.empty?
									li.item
										p.text-center No Comments Found.
								- else
									- @post.comments.each do |comment|
										li.item
											.product-img
												= image_tag(comment.user.small_picture, alt: 'User Image')
											.pull-right
												p #{timeago_tag(comment.created_at, :nojs => true, :limit => 10.days.ago)}
											.product-info 
												p.product-description = comment.message
								
						.box-footer.text-center
							a.uppercase href="#" View all Comments

	= render 'modal'



	      





