section.content-header
	h1 User Profile

section.content
	.row
		.col-md-6
			.box.box-solid
				.box-header.with-border
					i.ion.ion-navicon-round
					h3.box-title Name
				.box-body
					h6 = @agency.full_name
		
		.col-md-6
			button.btn.btn-block.btn-warning.btn-lg Subscribe to this agency
	.row
		.col-md-6
			.box.box-solid
				.box-header.with-border
					i.ion.ion-ios-albums-outline
					h3.box-title Description
				.box-body
					dl.dl-horizontal
						dt Joined Since
						dd #{timeago_tag(@agency.created_at, :nojs => true, :limit => 10.days.ago)}
						dt Address
						dd = @agency.hometown
						dt Website
						dd = @agency.website
						dt Contact No. 
						dd = @agency.contact
						dt Contact Person
						dd #{@agency.first_name} #{@agency.last_name}