// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
 width: 100%;
 height: 600px;
 background-color: grey;
}

.title {
  width: 180px;
}

.vicinity {
  font-size: 12px !important;
}

.map-view {
  width: 100%;
  height: 715px;
  background: grey;
}