.sidebar-toggle:before {
  content: '' !important;
}

.fb-login {
  padding-top: 2px !important;
  padding-bottom: 1px !important;
}

body {
  background: #ecf0f5;

  .main-header {
    z-index: 2 !important;
  }

  .main-sidebar {
    z-index: 1 !important;
  }
}

.modal-backdrop {
  z-index: -1 !important;
}
.modal-dialog {
  z-index: 100 !important;
  margin-top: 70px !important;
}

.marker {
  #user-image {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border: 3px solid #f39c12;
  }
}