.loader {
  display: none;
  position: fixed;
  background: rgba(255,255,255,0.7);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  .inner-loader {
    position: fixed;
    right: 40%;
    text-align: center;
    top: 50%;

    .spinner {
      font-size: 30px;
    }
  }
}