
@mixin slide {
   0% {
    opacity: 0;
    right: 100%;
  }

  100% {
    opacity: 1;
    right: 0%;
  }
}

@mixin rotate {
   0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide {
  @include slide;
}

@keyframes slide {
  @include slide;
}

.transition {
   -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.content-wrapper {
  .content {
    @extend .transition;
    position: relative;
    -webkit-animation-name: slide;
    animation-name: slide;
  }
}

@-webkit-keyframes rotate {
 @include rotate;
}

@keyframes rotate {
 @include rotate; 
}

.rotate {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 0.3s infinite;
          animation: rotate 0.3s infinite;
}