- unless @community.blank?
	section.content-header
		h1 Chat an Agency / Landlord / Friend


	section.content
		.row
			.col-md-6
				.box.box-success.direct-chat.direct-chat-success
						.box-header
							i.ion.ion-ios-chatboxes
							h3.box-title Direct Chat - #{@community.name}
							.box-tools.pull-right
								span.badge.bg-green data-toggle="tooltip"
						.box-body
							.direct-chat-messages
								
						.box-footer
							.input-group
								input.form-control type="text" id="chat_message" name="message" placeholder="Type Message ..."
								span.input-group-btn
									button.btn.btn-success.btn-flat#chat_button data-name=@current_user.first_name data-user=@current_user.id type="button" Send 