section.content-header
	h1 List of Applicants

section.content
	.row
		.col-md-12 
			.box.box-info style="height:400px;"
					.box-header
						i.ion.ion-clipboard
						h3.box-title Applicants and their Related Posts
					.box-body style="height:400px;"
						.table-responsive style="height:400px;"
							table.table.no-margin.table-hover
								thead
									tr
										th Posts
										th Applicant
										th Status
										th File
										th Action
								tbody
									- unless @applicants.empty?
										- @applicants.each do |applicant|
											tr
												td = applicant.post.title
												td = applicant.user.full_name
												td 
													span.label class=colorize(applicant.status)
														= applicant.status
												td 
												td 
													.btn-group
														button.btn.bg-maroon.btn-xs type="button" Action
														button.btn.bg-maroon.btn-xs.dropdown-toggle data-toggle="dropdown" aria-expanded="false"
															span.caret
															span.sr-only Toggle Dropdown
														ul.dropdown-menu role="menu"
															li
																a.change_status data-user=applicant.user.id data-post=applicant.post.id data-status="Viewed" href="#" Viewed
															li
																a.change_status data-user=applicant.user.id data-post=applicant.post.id data-status="Accepted" href="#" Accepted
															li
																a.change_status data-user=applicant.user.id data-post=applicant.post.id data-status="Missing Files" href="#" Missing Files
															li
																a.change_status data-user=applicant.user.id data-post=applicant.post.id data-status="Interview" href="#" Interview
