section.content-header
	h1 Credits

section.content
	.row
		.col-md-4 
			.box.box-warning
					.box-header
						i.ion.ion-social-bitcoin-outline
						h3.box-title Buy Credits
					.box-body
						.input-group
				            span.input-group-addon $
          					input.form-control type="amount" id="name" value="100"
          					span.input-group-addon .00
          				br
          				button.btn.btn-warning type="button" Buy