section.content-header
	h1 List of Subcribers

section.content
	.row
		.col-md-12 
			.box.box-info style="height:400px;"
					.box-header
						i.ion.ion-clipboard
						h3.box-title Subribers and their related inquiry
					.box-body style="height:400px;"
						.table-responsive style="height:400px;"
							table.table.no-margin.table-hover
								thead
									tr
										th Posts
										th Applicant
										th Date Texted
										th Category
								tbody
									tr
										td Post 1
										td Applicant 1
										td 04/01/2015
										td Job
									tr
										td Post 2
										td Applicant 2
										td 04/01/2015
										td Rent
									tr
										td Post 3
										td Applicant 3
										td 04/01/2015
										td Party
