doctype html
html
  head
    meta name='viewport' content='initial-scale=1.0, width=device-width'
    title Connect Mo - OFW
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = Gon::Base.render_data({:init => true, :camel_case => true})
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body.skin-red.sidebar-collapse class=controller_name
    .wrapper
      = render 'shared/header'
      = render 'shared/sidebar'
      .content-wrapper
        section.content-header
        section.content
          = render 'shared/flash'
          = yield
        = render 'shared/loader'
      = render 'shared/footer'
      = render 'shared/community'
      = Gon::Base.render_data({:init => true, :camel_case => true})