doctype html
html
  head
    title Connect Mo - OFW
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = Gon::Base.render_data({:init => true, :camel_case => true})
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body.dialog.bg-orange
    = yield
    = Gon::Base.render_data({:init => true, :camel_case => true})